{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row books">
	{% for book in fantasy %}
    <div class="media am-fade col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="pull-left book-image">
        <img src="{{ book.cover_url }}" title="{{ book.name }}" 
        	style="display: inline;" onError="this.onerror=null;this.src='/img/no_cover.jpeg';">
      </a>
      <div class="media-body book-info">
        <h4 class="media-heading">{{ book.name }}</h4>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
