/*! example.css */

/* ==========================================================================
   Site customizations
   ========================================================================== */

.navbar {
	margin-top: 0;
	margin-bottom: 20px;
}

.container.main-wrapper {
	margin-top: 75px;
	margin-bottom: 50px;
	padding: 0;
}

.books {
	min-height: 940px;
	opacity: 1;
	transition: opacity .08s ease-in-out;
	-moz-transition: opacity .08s ease-in-out;
	-webkit-transition: opacity .08s ease-in-out;
}

.book-image > img {
	max-width: 166px;
	border-radius: 3px;
	vertical-align: middle;
	border: 0;
}

.torrent_details-spacer {
	padding-right: 10px;
}

@media (max-width: 768px) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
	.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
	.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-sm-6 {
		width: 50%;
	}
}

