/*! example.css */

/* ==========================================================================
   Site customizations
   ========================================================================== */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p, h4 small {
	font-weight: 200;
}

.navbar {
	margin-top: 0;
	margin-bottom: 20px;
}

.container.main-wrapper {
	margin-top: 75px;
	margin-bottom: 50px;
	padding: 0;
}

.books {
	min-height: 940px;
	opacity: 1;
	transition: opacity .08s ease-in-out;
	-moz-transition: opacity .08s ease-in-out;
	-webkit-transition: opacity .08s ease-in-out;
}

.book-image {
	height: 236px;
}

.book-image > img {
	max-width: 166px;
	max-height: 236px;
	border-radius: 3px;
	vertical-align: middle;
	border: 0;
}

.book-info {
	height: 236px;
	position: relative;
}

.book-info .meta {
	margin-bottom: 8px;
}

.book-info .torrent_details {
	position: absolute;
	bottom: 0;
	background-color: #fff;
	box-shadow: 0 0 0 5px #fff;
	font-size: smaller;
}

.media:first-child {
	margin-top: 15px;
}

.media-heading {
	margin: 0 0 5px;
}

.media, .media-body {
	overflow: hidden;
	zoom: 1;
}

.torrent_details-spacer {
	padding-right: 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}

@media (max-width: 768px) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
	.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
	.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		padding-left: 5px;
		padding-right: 5px;
	}

}

@media (max-width: 450px) {
	.book-image.col-md-6 {
		width: 100%;
		height: auto;
		padding-bottom: 15px;
		text-align: center;
	}
	.author, .meta {
		display: inline;
	}

	.description {
		margin-top: 10px;
	}

	.book-info, .book-info .torrent_details {
		position: inherit;
		height: auto;
	}
}

